<div class="container">
    
<form [formGroup]="myForm" (ngSubmit)="saveUser()">
<div class="form-row">
    <div class="form-group col">

        <label for="username">Username :</label>
    <input class="form-control" type="text" name="username" id="username" formControlName="username">
    <!-- *ngIf="username.touched && username.invalid" -->
    <div >
        <!-- <small *ngIf="username.errors.required"  class="text-danger">Username is required</small> -->
    <!-- username.errors.patterns -->
     <!-- username.errors.minlength -->
     
        <!-- <small *ngIf="username.errors.required" class="text-danger">Username is required<br></small>  -->
        <!-- <small class="text-danger">Invalid Username<br></small> 
        <small class="text-danger">Username must contain two characters at least</small> -->

    </div>
    </div>
    


</div>
  <div class="form-row">
    <div class="form-group col">
        <input type="submit" value="Send" [disabled]="myForm.invalid" class="btn btn-primary">

    </div>
  </div>
   
</form>
</div>

