<div class="container-scroller">
  <div class=" page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth px-0">
      <div class="row w-100 mx-0">
        <div class="col-lg-4 mx-auto">
          <div class="auth-form-light text-left  px-sm-5">
            <div class="brand-logo">
              <img src="assets/images/proxym.png " alt="logo">
            </div>
            <!-- <h4>Nouveau ici?</h4>
            <h6 class="font-weight-light">L'inscription est facile. Cela ne prend que quelques étapes</h6> -->
            <form [formGroup]="registerForm" (ngSubmit)="register()" class="pt-3">

              <!-- <div class="form-group">
                <input type="text" class="form-control form-control-lg" id="exampleInputNom1" placeholder="Nom"
                  formControlName="nom">
                <div *ngIf="f['nom'].touched && f['nom'].invalid">
                  <small *ngIf="f['nom'].errors?.['required']" class="text-danger">Nom est obligatoire<br></small>
                  <small *ngIf="f['nom'].errors?.['pattern']" class="text-danger">Nom Invalide<br></small>
                  <small *ngIf="f['nom'].errors?.['minlength']" class="text-danger">Nom doit contenir deux
                    caractères au moins</small>
                </div>
              </div> -->
              <!-- <div class="form-group">
                <input type="text" class="form-control form-control-lg" id="exampleInputPrenom1" placeholder="Prenom"
                  formControlName="prenom">
               

                <div *ngIf="f['prenom'].touched && f['prenom'].invalid">
                  <small *ngIf="f['prenom'].errors?.['required']" class="text-danger">Prenom est obligatoire<br></small>
                  <small *ngIf="f['prenom'].errors?.['pattern']" class="text-danger">Prenom Invalide<br></small>
                  <small *ngIf="f['prenom'].errors?.['minlength']" class="text-danger">Prenom doit contenir deux
                    caractères au moins</small>
                </div>

              </div> -->
 <!-- ngModel required  -->

              <!-- <div class="form-group">
                <input type="text" class="form-control form-control-lg" id="exampleInputUsername1" placeholder="Username">
              </div> -->

              <div class="form-group">
                <input type="text" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Nom d'utilisateur"
                  formControlName="username">
                <div *ngIf="f['username'].touched && f['username'].invalid">
                  <small *ngIf="f['username'].errors?.['required']" class="text-danger">Nom d'utilisateur est obligatoire<br></small>

                </div>

              </div>
              <!-- <div class="form-group">
<input type="radio" value="MEN" formControlName="sexe"> Homme
<input type="radio" value="WOMEN" formControlName="sexe"> Femme</div> -->
              <div class="form-group">
                <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Email"
                  formControlName="email">
                <div *ngIf="f['email'].touched && f['email'].invalid">
                  <small *ngIf="f['email'].errors?.['required']" class="text-danger">Email est obligatoire<br></small>
                  <small *ngIf="f['email'].errors?.['email']" class="text-danger">Email Invalide<br></small>
                </div>

              </div>

              <!-- <div class="form-group">
                <select formControlName="role" class="form-control form-control-lg">
                  <option value="" disabled selected hidden>Role</option>
                  <option *ngFor="let role of roles" [ngValue]="role.id">
                    {{ role.roleName }}
                    
                  </option>
                </select>
              </div> -->

              <!-- person.roles[0].roleName -->


              <div class="form-group">

                <select formControlName="departement" class="form-control form-control-lg">
                  <option value="" disabled selected hidden >Departement</option>
                  <option *ngFor="let departement of departements" [ngValue]="departement.id">
                    {{ departement.departementName }}
                    
                  </option>
                </select>
              </div> 


              <!-- <div class="form-group">
                <input type="text" class="form-control form-control-lg" id="exampleInputPoste1" placeholder="Poste"
                  formControlName="poste" [ngClass]="{ 'is-invalid': submitted && f['poste'].errors }">
                <div *ngIf="f['poste'].touched && f['poste'].invalid">
                  <small *ngIf="f['poste'].errors?.['required']" class="text-danger">Poste est obligatoire<br></small>
                  <small *ngIf="f['poste'].errors?.['pattern']" class="text-danger">poste Invalide<br></small>
                  <small *ngIf="f['poste'].errors?.['minlength']" class="text-danger">poste doit contenir deux
                    caractères au moins</small>
                </div>
              </div> -->




              <div class="form-group">
                <input type="password" class="form-control form-control-lg" id="exampleInputPassword1"
                  placeholder="Mot de Passe" formControlName="password">
                <div *ngIf="f['password'].touched && f['password'].invalid">
                  <small *ngIf="f['password'].errors?.['required']" class="text-danger">Mot de Passe est obligatoire<br></small>
                  <small *ngIf="f['password'].errors?.['minlength']" class="text-danger">Mot de Passe doit contenir 6
                    caractères au moins</small>
                </div>



              </div>
              <div class="form-group">
                <input type="password" class="form-control form-control-lg" id="exampleInputrePassword1"
                  formControlName="repassword" placeholder="Repeter le Mot de Passe">
                <div *ngIf="f['repassword'].touched && f['repassword'].invalid">
                  <small *ngIf="f['repassword'].errors?.['required']" class="text-danger">Repeter le Mot de Passe est obligatoire<br></small>
                </div>
                <div *ngIf="f['repassword'].valid && f['repassword'].value != f['password'].value" class="text-danger">
                  Le mot de passe saisi ne correspond pas
                </div>
              </div>
              <div class="mb-4">

              </div>
              <div class="mt-3">
                <!-- <a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"  href="../../index.html" >SIGN UP</a> -->
                <!-- href="../../index.html" -->
                <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">S'Inscrire
                </button>
                <!-- [disabled]="registerForm.invalid" -->
              </div>
              <div class="text-center mt-4 font-weight-light">
                Vous avez déjà un compte? <a routerLink="/" class="text-primary">Se Connecter</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>



<!-- <div class="form-group">
                <select class="form-control form-control-lg" id="exampleFormControlSelect2">
                  <option>Country</option>
                  <option>United States of America</option>
                  <option>United Kingdom</option>
                  <option>India</option>
                  <option>Germany</option>
                  <option>Argentina</option>
                </select>
              </div> -->



<!-- <app-navbar></app-navbar>
<div class="container my-5" >
	<form>
        
		
        <div class="mb-3">
            <label for="exampleInputNom" class="form-label">Nom</label>
            <input type="text" class="form-control" id="exampleInputNom">
          </div>
          <div class="mb-3">
            <label for="exampleInputPrenom" class="form-label">Prenom</label>
            <input type="text" class="form-control" id="exampleInputPrenom">
          </div>

          <div class="mb-3">
            <label for="exampleInputDepartment" class="form-label">Department/Office</label>
            <input type="text" class="form-control" id="exampleInputDepartment">
          </div>


          <div class="mb-3">
            <label for="exampleInputUsername" class="form-label">Username</label>
            <input type="text" class="form-control" id="exampleInputUsername">
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          
		<div class="mb-3">
		  <label for="exampleInputPassword" class="form-label">Password</label>
		  <input type="password" class="form-control" id="exampleInputPassword">
		</div>
        
          <div class="mb-3">
            <label for="exampleInputRepeatPassword" class="form-label">RepeatPassword</label>
            <input type="password" class="form-control" id="exampleInputRepeatPassword">
          </div>

         
          
		
		<button type="submit" class="btn btn-primary">Register</button>
	  </form>
</div>

<app-footer></app-footer> -->